  @font-face {
    font-family: "Opinion";
    src: url("~@/fonts/Opinion Pro Bold.eot");
    src: local("Opinion Pro Bold"), local("Opinion-Bold"),
      url("~@/fonts/Opinion Pro Bold.eot") format("embedded-opentype"),
      url("~@/fonts/Opinion Pro Bold.woff") format("woff"),
      url("~@/fonts/Opinion Pro Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Opinion";
    src: url("~@/fonts/Opinion Pro Regular.eot");
    src: local("Opinion Pro Regular"), local("Opinion-regular"),
      url("~@/fonts/Opinion Pro Regular.eot") format("embedded-opentype"),
      url("~@/fonts/Opinion Pro Regular.woff") format("woff"),
      url("~@/fonts/Opinion Pro Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
